.ingredient_list{
    font-style: italic;
  
}

h3{
    font-style: normal;
    color:pink; 
   }  
h1{
    font-family: cursive; 
}
.title_page_links{
    font-family: 'Courier New', Courier, monospace;
}



